
  body {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #af521d, #6d1c37);
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #96212b;
    color: white;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #58474d;
  }
  
  .question-container {
    text-align: center; 
    background-color: #d8d1d1; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }

.option {
    margin: 10px 0; 
}